:root {
  --input-background-color: #fff;
  --placeholder-color: rgb(80, 80, 80);
  --shadow: rgba(238, 255, 0, 0.75);
}

._ {
  background-color: var(--input-background-color);
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  font-family: "Ubuntu", sans-serif;
}

._:active,
:focus {
  outline: 0;
  box-shadow: 0 0 0.75rem var(--shadow);
}

::placeholder {
  color: var(--placeholder-color);
}
