:root {
  --form-font-color: #fff;
  --attention-color: rgb(238, 255, 0);
}

._ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 16rem;
  max-width: 16rem;
  min-height: 12rem;
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--form-font-color);
}

.userNameTitle {
  position: relative;
  display: flex;
  font-weight: normal;
  padding: 0 0.25rem;
  color: black;
  z-index: 10;
}

.userNameTitle::before {
  content: "🎅";
  margin-right: 1rem;
}

.userNameTitle::after {
  position: absolute;
  top: -0.125rem;
  left: 2rem;
  border-radius: 0.5rem;
  content: "";
  width: 14rem;
  height: 3rem;
  background-color: white;
  z-index: -1;
}

.emptyUserName {
  color: var(--attention-color);
  font-weight: normal;
}

.emptyUserName::before {
  content: "⚠️";
  margin-right: 0.5rem;
}
