:root {
  --main-background-color: rgb(0, 0, 0);
}

._ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  width: 100%;
  height: 100vh;
  padding: 4rem 2rem;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
